include ../common/socials.pug


mixin header(pageName, header, text, iconName, arrow)
    -var links = ['my-works.html', 'about.html', 'blog.html', 'index.html']
        section.header
            .header__parallax
                img(src="assets/images/img/header.jpg", alt="").header__parallax-img
            header(class=`header__row header__row--top header__row--top--${pageName}`)
                .header__row-right
                    +socials('socials__icon--white', ['vk','github', 'telegram_logo'], ['https://vk.com/sshvedova2013','https://github.com/svetafilimonova','https://t.me/lana_feels'], '35', '25')
                .header__row-left
            .header__row.header__row-welcome
                div(class= `welcome header__welcome header__welcome_${pageName}`)
                    .welcome__pic.header__photo
                    div(class= `welcome__info header__info_${pageName}`)
                        div(class= `welcome__info-name welcome__info-name_${pageName}`)
                            h1.welcome__info-title=header
                        div(class= `welcome__info-txt welcome__info-txt_${pageName}`)
                            h2.welcome__info-title--smaller=text
                .header__svg-wrapper
                    svg(class=`header__bg-icon header__bg-icon_${iconName}` preserveAspectRatio="none")
                        use(class=`header__icon_${iconName}` xlink:href=`/assets/images/sprite.svg#${iconName}`)
            button.header__row.header__row-arrow.reset-btn
                if arrow
                    svg(class="header__arrow-icon" style={width: '27px', height: '18px'})
                        use(class="header__arrow-svg" xlink:href="/assets/images/sprite.svg#arrow_down")
            .header__row-triangles
                svg(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none" class=`header__traingles header__traingles_${pageName}`)
                    polygon(class = `header__traingle-left header__traingle-left_${pageName}` points="0,0   0,86   500.8,86   500.8,75.5")
                    polygon(class = `header__traingle-right header__traingle-right_${pageName}` points="1000,0   1000,86   500,86   500,75.5")