mixin socials(className, icons, links)
    ul.socials
        li.socials__item
            each icon, i in icons
                a(class=`socials__link socials__link-${icon}` href=`${links[i]}`)
                    svg(class=`socials__icon ${className}`)
                        use(class=`socials__icon-svg socials__icon-${icon}`)(xlink:href=`svg/symbols.svg#${icon}`)
